* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  font-size: 0;
  }

.field{
display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 30px;
  color: #000000;
  line-height: 30px;
  width: 55px;
  margin: 0 1px;
  border-radius: 2px;
}

.value{
  margin-bottom: 5px;
}

.label{
  font-size: 15px;
text-align: center;
font-weight: 500;
}
